//reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// vars
$gray800: #1f2937;
$gray700: #374151;
$gray400: #9ca3af;
$gray200: #e5e7eb;
$indigo500: #6366f1;
$indigo600: #4f46e5;
$red500: #e11d48;

// Styles

body {
  min-height: 100vh;
  background: $gray700;
  color: $gray200;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.2em;
}

#header {
  background: $gray800;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .menu {
    padding: 10px 10px;
    font-size: 18px;
    width: 200px;
  }
}

.main {
  max-width: 1024px;
  width: 100%;
  margin: 0px auto;
}

.box {
  border: 1px solid $gray400;
  padding: 30px;
  margin: 20px 0px;
}

.page-title {
  text-align: center;
  padding: 30px 20px;
  color: #fff;
  h2 {
    font-size: 32px;
  }
}
.text {
  background: $gray200;
  color: $gray800;
  padding: 20px;
  margin-bottom: 20px;
}
.text-center {
  text-align: center;
}
.btn {
  padding: 10px 20px;
  background: $indigo500;
  color: #fff;
  border-radius: 5px;
  border-color: $indigo500;

  font-size: 16px;
  font-weight: bold;
}

.header1 {
  font-size: 48px;
  margin: 20px 0px;
}
.header2 {
  font-size: 36px;
  margin: 20px 0px;
}
.header3 {
  font-size: 30px;
  margin: 20px 0px;
}

.text-control {
  padding: 10px 20px;
  font-size: 16px;
}

.list {
  margin: 20px 0px;
  list-style: none;
  li {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $gray400;
  }
}
